<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @record.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @record.amount %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @record.balance %>
</p>

<%= link_to 'Back', records_path %>
